<div id="home">
    <h1>Welcome to Github-Search</h1>
    <p>Searching made easy!</p>
<div>
<!-- Search form -->
<div class="container col-md-4">
    <div class="mb-4">
        <input class="form-control" name="userName" type="text" placeholder="Search User Name" [(ngModel)]="userName" aria-label="Search">
    </div>
    <div class="form-group mb-3 ml-5">
        <button target="_blank" class="btn btn-outline-dark btn-lg text-white" type="submit" (click)="submitUser()">Get User</button>
    </div>
</div> 
<br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Github User Name: {{user.login}} </h4>
                    <ul class="card-text">
                        <li class="list-group-item"><i class="fas fa-user-friends"></i> Followers: {{user.followers}}</li>
                        <li class="list-group-item"><i class="fas fa-users f0c0"></i> Following: {{user.following}}</li>
                        <li class="list-group-item"><i class="fas fa-folder-open"></i> Public Repo No: {{user.public_repos}}</li>
                        <li class="list-group-item"><i class="fas fa-folder-open"></i> Github: <a href="{{user.html_url}}">{{user.html_url}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <img src="{{user.avatar_url}}" class="img-fluid z-depth-1-half" alt="avatar" height="350px" width="350px">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4" *ngFor="let repo of repository">
          <div class="card">
            <ul>
              <li class="list-group-item"> Repository name: {{repo.name}}</li>
              <li class="list-group-item"> Repository Description: {{repo.description}}</li>
            </ul>
          </div>
        </div>
        <div class="card">
        <p>Data requested on: {{user.completeDate|date|date:"fullDate"}} at LocalTime: {{user.completeDate|date :"mediumTime"}}</p>
        </div>
    </div>
</div> 