<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4 pt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Github User Name: </h4>
                    <ul class="card-text">
                        <li class="list-group-item"><i class="fas fa-user-friends"></i> Followers: </li>
                        <li class="list-group-item"><i class="fas fa-users f0c0"></i> Following: </li>
                        <li class="list-group-item"><i class="fas fa-folder-open"></i> Public Repo No: </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 pt-5">
            <img src="" class="img-fluid z-depth-1-half" alt="avatar">
        </div>
    </div>
</div>
